<footer class="footer container-fuild">
    <div class="text-dark bg-secondary p-4">
        <ul class="centerContent list-unstyled">
            <li class="d_inline_block"><a href="mailto:miguel.lcapote@gmail.com"><img class="icon" src="../img/envelope.png"></a></li>
            <li class="d_inline_block"><a href="https://github.com/RedLincoln"><img class="icon" src="../img/github.png"></a></li>
        </ul>
    </div>
    <div class="bg-dark pt-2 pb-2">
        <div class="container">
            <ul class="row list-unstyled text-center">
                <li class="col-2 col-md border-right"><a href="/">Home</a></li>
                <li class="col-2 col-md border-right"><a class="btn-link disabled" href="#">Projectos</a></li>
                <li class="col-2 col-md"><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</footer>